img.logo {
    display: block;
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}

h1, p {
    color: white;
    text-align: center;
}

.orange {
    color: #FE7C04;
}

.navbar{
    display: block;
    height: 50px;
    padding: 5%;
    top:0;
}

img.logo_header{
    width: 215px;
    margin: 10px;
}

a.connect{
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius:5px;
    border: none;
    margin-top: 0;
    color:#111;
}

a.connect span{
    margin-left: 5px;
}
a.nav-link.whitepaper{
    padding: 10px;
    cursor: pointer;
    border: none;
    color:#fff !important;
    margin-right: 1rem;
}

.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    margin-top: 5%;
    margin-bottom: 5%;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

.p-4{
    padding-bottom: 0 !important;
}

.card{
    box-shadow: rgba(255, 255, 255, 0.25) 0px 0.0625em 0.0625em, rgba(255, 255, 255, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

ul {
    padding:0;
    margin:0;
    list-style-type:none;
}
li {
    float:right; /*pour IE*/
    border-left:1px solid black;
}
ul li a {
    display:block;
    float:right;   
    width:100px;
    line-height:60px; /*hauteur de l'image de fond*/
    color:#DCDCDC;
    text-decoration:none;
    text-align:center;
}
ul li a:hover {
    color:white;
}

.line {
    text-decoration: line-through;
}


/* Presale components */

.presentation-block{
    margin: 0 auto;
    margin-top: 5%;
}

.presale-cards{
    margin: 0 auto;
    margin-top: 5%;
    display: inline;
}


.token_remain {
    display: inline-block;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    color: #004E79;
}

.token_pack {
    display: inline-block;
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    color: #004E79;
    margin-top: 1em;
}

.vital_token{
    display: inline-block;
    vertical-align:middle;
    width: 1em;
    height: 1em;
    border: 1px solid #000;
    border-radius: 50px;
    background-size: contain;
    background-image: url(../img/token.png);
    margin-bottom: 0.1em;
    margin-left: 0.2em;
}

.supply{
    color: #666;
    text-align: center;
}

.minus{
    display: inline-block;
    vertical-align: middle;
    line-height: .95em;
    width: 2em;
    height: 2em;
    padding: .45em;
    font-size: 1em;
    font-size: 1em;
    color:#004E79;
    border: 1px solid #004E79;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 .8em;
}

.plus{
    display: inline-block;
    vertical-align: middle;
    line-height: .95em;
    width: 2em;
    height: 2em;
    padding: .45em;
    font-size: 1em;
    color:#004E79;
    border: 1px solid #004E79;
    border-radius: 50px;
    cursor: pointer;
    margin: 0 .8em;
}

.plus:active, .minus:active, .card-footer .btn:active, a.connect:active{
    position: relative;
    top:2px;
}

.inactive-sale{
    cursor: not-allowed;
    opacity: 50%;
}

.active-sale{
    top:10px;
}

.amount{
    font-size: 2em;
    font-weight: bold;
    color:#004E79;
    vertical-align: middle;
}

.card-footer .btn {
    background-color: #004E79;
    color: #fff;
    padding: 1em 2em;
    border-radius: 100px;
}

.radius{
    border-radius: 10px !important;
}

.badge{
    top: 0.5rem;
    right: 0.5rem
}

.unlockButton{
    display: block;
    background-color: #004E79;
}

/* Progress bar */

.progress {
    display: flex;
    height: 3rem;
    overflow: hidden;
    font-size: 1rem;
    background-color: #fff;
    border-radius: 2rem;
    margin: 5% 0%;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #004E79;
    transition: width 3s ease;
}

.progress-round{
    border-right: 2px solid white;
    background-color: #004E79;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg,rgba(0,0,0,.15) 25%,transparent 25%,transparent 50%,rgba(0,0,0,.15) 50%,rgba(0,0,0,.15) 75%,transparent 75%,transparent);
    background-size: 1rem 1rem;
}

#personModal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

@media (max-width: 767.98px) {
    body {
        font-family: 'Roboto', sans-serif;
        background-image: none;
        background-color: black;
    }

    img.logo_header{
        width: 180px;
        margin: 10px;
    }

    img.logo {
        visibility: hidden;
    }
    
    .ghost{
        display: none;
    }

    .ml12 {
        font-weight: 200;
        font-size: .8em;
        text-transform: uppercase;
        letter-spacing: .5em;
        margin-top: 5%;
    }

    button.connect{
        padding: 5px;
        cursor: pointer;
        background-color: #fff;
        border-radius:5px;
        border: none;
        color:#111;
    }

    .col-6-title{
        width: 100%;
    }

    .presentation-block{
        margin-top: 15%;
    }

    a.nav-link.whitepaper{
        display: none;
    }
}